body {
  background-image: url(../img/background.jpg);
  object-fit: cover; }

#head-shot {
  max-width: 280px;
  max-height: 280px;
  border: 10px solid #eee;
  border-radius: 50%; }
  #head-shot img {
    width: 100%;
    border-radius: 50%; }
