* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

#exp div h1 span {
  white-space: pre;
  word-spacing: 10rem;
  border-bottom: 1px solid #ccc; }

#exp div P span {
  font-weight: 600; }
